#parse("/templates/layout.vm")
#@mainLayout()
<h1>List all Hotels</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>City</th>
            <th>Address</th>
            <th>Owner</th>
        </tr>
    </thead>
    <tbody>
        #foreach($hotel in $hotels)
            <tr>
                <th scope="row">
                    <a href="/hotels/$hotel.getId()">$hotel.getId()</a>
                </th>
                <td>$hotel.getCity()</td>
                <td>$hotel.getAddress()</td>
                <td>$hotel.getOwnerFullName()</td>
            </tr>
        #end
    </tbody>
</table>

<p>
    <a href="$WebPath.getHOTELS_NEW()">Create new Hotel</a>
</p>
#end