#parse("/templates/layout.vm")
#@mainLayout()
<h1>
    List all Hotels
</h1>
<table>
    <tr>
        <th>Hotel ID</th>
        <th>City</th>
        <th>Address</th>
    </tr>

    #foreach($hotel in $hotels)
        <tr>
            <td>$hotel.getId()</td>
            <td>$hotel.getCity()</td>
            <td>$hotel.getAddress()</td>
        </tr>
    #end
</table>

<p>
    <a href="$WebPath.getHOTELS_NEW()">Create new Hotel</a>
</p>
#end