<h1>Create New Hotel</h1>

<form method="post">
    City:<br>
    <input type="text" name="city"><br>
    Address:<br>
    <input type="text" name="address"><br>
    <input type="submit" value="Submit">
</form>