#macro(mainLayout)
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/lib/bootstrap.min.css">
        <script src="/lib/jquery.min.js" ></script>
        <script src="/lib/bootstrap.min.js"></script>
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
            <a class="navbar-brand" href="$WebPath.getDASHBOARD()">2G1H</a>
            #if ($currentUser)
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="$WebPath.getHOTELS_INDEX()">Hotels list
                    </a>
                </li>
                #if ($currentUser.isOwner())
                <li class="nav-item active">
                    <a class="nav-link" href="$WebPath.getHOTELS_NEW()">Create new hotel</a>
                </li>
                #end
                <li class="nav-item active">
                    <a class="nav-link" href="/hotels/$currentUser.getHotelId()/employees/">
                        List employees
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="$WebPath.getEMPLOYEES_NEW()">Add employee</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <form method="post" action="$WebPath.getLOGOUT()">
                        <button class="btn-link btn-md">Logout</button>
                    </form>
                </li>
            </ul>
            #end
        </nav>
        <div id = "wrap">
            <div class="container col-md-3">

            </div>
            <div class="container col-md-4">
                #if ($alert)
                    <div class="alert alert-danger" role="alert">
                        <strong>Oh snap! </strong>$alert
                    </div>
                #end

                #if ($success)
                    <div class="alert-success" role="alert">
                        $alert
                    </div>
                #end

                <main>
                    $bodyContent
                </main>
            </div>
        </div>
    </body>
</html>
#end