#parse("/templates/layout.vm")
#@mainLayout()
<link rel="stylesheet" href="/login/dashboard.css">
<h2>
    Welcome $currentUser.getFullName()
</h2>
<h3>
    Hotel info:
</h3>
<p>
    Address: $hotel.getAddress()
</p>
<p>
    Owner: $hotel.getOwnerFullName()
</p>

<div class="col-md-6">
    <h4>Not approved reservations</h4>

    <table class="table table-hover" style="font-size: 13">
        <thead>
        <tr>
            <th>ID</th>
            <th>Mail</th>
            <th>R #</th>
            <th>Start</th>
            <th>End</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            #foreach($reservation in $notApproved)
            <tr>
                <th scope="row">
                    <a href="/reservations/$reservation.getId()">$reservation.getId()</a>
                </th>
                <td>$reservation.getGuest_mail()</td>
                <td>$reservation.getRoom_number()</td>
                <td>$reservation.getSt_date()</td>
                <td>$reservation.getEnd_date()</td>
                <td>
                    <a href="/reservations/approve/$reservation.getId()">
                        <img src="/reservations/Ok.png" width="18" height="18">
                    </a>
                </td>
                <td>
                    <a href="/reservations/delete/$reservation.getId()">
                        <img src="/reservations/Cancel.png" width="18" height="18">
                    </a>
                </td>
            </tr>
            #end
        </tbody>
    </table>
</div>

<div class="col-md-6">
    <h4>Approved reservations</h4>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Mail</th>
            <th>R #</th>
            <th>Start</th>
            <th>End</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            #foreach($reservation in $approved)
            <tr>
                <th scope="row">
                    <a href="/reservations/$reservation.getId()">$reservation.getId()</a>
                </th>
                <td>$reservation.getGuest_mail()</td>
                <td>$reservation.getRoom_number()</td>
                <td>$reservation.getSt_date()</td>
                <td>$reservation.getEnd_date()</td>
                <td>
                    <a href="/reservations/delete/$reservation.getId()">
                        <img src="/reservations/Cancel.png" width="18" height="18">
                    </a>
                </td>
            </tr>
            #end
        </tbody>
    </table>
</div>
#end