#parse("/templates/layout.vm")
#@mainLayout()
<h1>Create New Reservation</h1>

<form method="post">
    Guest_mail:<br>
    <input type="text" name="mail"><br>
    Name:<br>
    <input type="text" name="name"><br>
    lastName:<br>
    <input type="text" name="lastName"><br>
    Phone:<br>
    <input type="text" name="phone"><br>
    Hotel_id:<br>
    <input type="text" name="hotel_id"><br>
    St_date:<br>
    <input type="text" name="st_date"><br>
    End_date:<br>
    <input type="text" name="end_date"><br>
    Number_of_people:<br>
    <input type="text" name="number_of_rooms"><br>
    <input type="submit" value="Submit">
</form>
#end