#parse("/templates/layout.vm")
#@mainLayout()
<h1>Create New Reservation</h1>

<form method="post">
    Guest_mail:<br>
    <input type="text" name="mail"><br>
    Hotel_id:<br>
    <input type="text" name="address"><br>
    St_date:<br>
    <input type="text" name="st_date"><br>
    End_date:<br>
    <input type="text" name="end_date"><br>
    <input type="submit" value="Submit">
</form>
#end