<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Book room in 2G1H</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/lib/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="/reservations/success.css" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div id="center" class="semi">
    <div class="col-md-10 offset-md-1">
        <h3 style="padding: 30px 18px 18px;">Hooray!</h3>
        <p>We got your request</p>
        <p>You will recieve letter with further instructions</p>
    </div>
</div>
</body>
</html>