#parse("/templates/layout.vm")
#@mainLayout()
<h1>List all Hotels</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surename</th>
    </tr>
    </thead>
    <tbody>
        #foreach($emp in $employees)
        <tr>
            <th scope="row">$emp.getId()</th>
            <td>$emp.getName()</td>
            <td>$emp.getSurename()</td>
        </tr>
        #end
    </tbody>
</table>

<p>
    <a href="$WebPath.getEMPLOYEES_NEW()">Add new employee</a>
</p>
#end