#parse("/templates/layout.vm")
#@mainLayout()
<script src="/js/employees/new.js"></script>
#if ($alert)
    <div class="alert alert-danger" role="alert">
        <strong>Oh snap! </strong>$alert
    </div>
#end
<h1>Add new employee</h1>
<form method="post">
    <div class="form-group">
        <label for="inputName">Name</label>
        <input name="name" type="text" class="form-control" id="inputName" placeholder="Enter employees first name">
    </div>
    <div class="form-group">
        <label for="inputlastName">lastName</label>
        <input name="lastName" type="text" class="form-control" id="inputlastName" placeholder="Enter employees second name">
    </div>
    <div class="form-group">
        <label for="exampleSelect1">Select hotel</label>
        <select name="hotelId" class="form-control" id="exampleSelect1">
            #foreach($hotel in $hotels)
                <option value="$hotel.getId()">$hotel.toString()</option>
            #end
        </select>
    </div>

    <fieldset class="form-group">
        <legend>Select role for new employee</legend>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="role" id="staffOption" value="staff" checked>
                To staff
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="role" id="admOption" value="admin">
                To administrators
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="role" id="ownerOption" value="owner">
                Owner of selected hotel
            </label>
        </div>
    </fieldset>

    <div id="usersForm" class="hidden">
        <div class="form-group">
            <label for="inputLogin">Login</label>
            <input name="login" type="text" class="form-control" id="inputLogin" placeholder="Login">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
#end